.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .input {
    border-radius: 14px !important;
  }
}
.login {
    height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center   ;
}
