.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1000;

  .item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
